content/dog.mp4
content/spin.mp4
content/projects/1_Politics of Love.mov
content/projects/2_9 to 5.mov
content/projects/3_HFBK International 1946—1980.mov
content/projects/4_Archives of the Body.mov
content/projects/5_Die Neue Frau.mov
content/projects/6_Karla Krey Website.mov
content/projects/7_thesis.digitale-grafik.mov
content/workshop/8_GravityWolfSerif.mov
content/workshop/10_Marie Kondō Kaiwaiicore.mov
content/workshop/11_awakening states.mov
content/workshop/12_On Site Off Site.mov
content/workshop/13_Sofya Novichkova, Kristina Schuster.mov
content/workshop/14_Cobustious high-velocity steel vessel.MP4
content/workshop/15_Unravel_Leoni Voltz, Tim Ballaschke and Sophia Krasomil.mp4
content/workshop/hyperprofile.mov
