:root{


--spacer-xs: 0.25rem;     
--spacer-s: 0.5rem; 
--spacer-m: 1rem;
--spacer-l: 2rem; 
--spacer-preview: 3rem; 
--spacer-iframe: 3.5rem;

--radius-m: 2rem; 

--c-dark:#000; 
--c-light:#fff;


--projects: 5;
}

/* Reset and Basic Styling */

p, h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
}


html, body{
    padding: 0; 
    margin: 0;

    color: var(--dark);

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}


/* Helper Classes */

.hidden{
    user-select: none;
    pointer-events: none;
    opacity: 0;
    transform: translateX(50vw);
}





/* Nav */

nav{
    position: fixed;
    top: 0;
    left: 0;

    width: calc(100% - var(--spacer-m));
    padding: var(--spacer-s) var(--spacer-s) var(--spacer-m) var(--spacer-s);

    background-color: var(--c-light);
    border-bottom: 1px solid ;

    z-index: 99;

    button{
        padding: var(--spacer-xs) var(--spacer-s);
        border-radius:var(--radius-m);

        border: 1px solid var(--c-dark);
        background-color: transparent;
     
        font-size: 1.2rem;

        transition: all 300ms ease-in-out;

        cursor: pointer;
    }

    #projects:hover, #workshop:hover{
        background-color: var(--c-dark);
        color: var(--c-light);
    }

    /* Added by JS */
    .button--selected{
        background-color: var(--c-dark);
        color: var(--c-light);
    }

    .website-info{
        position: fixed;
        top: var(--spacer-s);
        left: 100vw;
        width: calc(100vw - (var(--spacer-s) + 13rem));

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;

        cursor: default;

        transition: left 500ms ease-in-out;  
    }

    /* JS Classes */

    .info-slide{
        left: 13rem;
    }

    .name-year-wrapper{
        display: flex;
        justify-content: flex-start;
        gap: var(--spacer-l);
    }

}

/* Website Snippets */

.website-container{
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    overflow: hidden;

    transition: left 750ms ease;
}


/* Controls position of website-container */


.out-of-view-right{
    left: 100vw; 
}

.out-of-view-left{
    left: -100vw; 
}

.website-preview{
    position: absolute;
    top: 0;
    left: 0; 
    height: 100vh;
    width: 100vw;    
    box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.25);
    transition: transform ease-in-out 500ms ;
}

/* Base */

.p1{
    background-color: #E7C8FF;
    transform: translateX(0);
    transition-delay: calc(50ms * 6);
}

.p2{
    background-color: #A66C53;
    transform: translateX(calc(100vw * (1 / var(--projects))));
    transition-delay: calc(50ms * 5);
}

.p3{
    background-color: #F9E456;
    transform: translateX(calc(100vw * (2 / var(--projects))));
    transition-delay: calc(50ms * 4);
}

.p4{
    background-color: #03FF7F;
    transform: translateX(calc(100vw * (3 / var(--projects))));
    transition-delay: calc(50ms * 3);
}

.p5{
    background-color: #DDE9FD;
    transform: translateX(calc(100vw * (4 / var(--projects))));
    transition-delay: calc(50ms * 2);
}

/* .p6{
    background-color: coral;
    transform: translateX(calc(100vw * (5 / var(--projects))));
    transition-delay: calc(50ms * 1);
} */


/* Hover p1 */


.p1:hover ~ .p2 {
    transform: translateX(calc(100vw - var(--spacer-preview)*4));
}

.p1:hover ~ .p3 {
    transform: translateX(calc(100vw - var(--spacer-preview)*3));
}

.p1:hover ~ .p4 {
    transform: translateX(calc(100vw - var(--spacer-preview)*2));
}

.p1:hover ~ .p5 {
    transform: translateX(calc(100vw - var(--spacer-preview)*1));
}

/* .p1:hover ~ .p6 {
    transform: translateX(calc(100vw - var(--spacer-preview)*1));
} */



/* Hover p2 */
.p2:hover  {
    transform: translateX(var(--spacer-preview));
}

.p2:hover ~ .p3 {
    transform: translateX(calc(100vw - var(--spacer-preview)*4));
}

.p2:hover ~ .p3 {
    transform: translateX(calc(100vw - var(--spacer-preview)*3));
}

.p2:hover ~ .p4 {
    transform: translateX(calc(100vw - var(--spacer-preview)*2));
}

.p2:hover ~ .p5 {
    transform: translateX(calc(100vw - var(--spacer-preview)*1));
}

/* .p2:hover ~ .p6 {
    transform: translateX(calc(100vw - var(--spacer-preview)*1));
} */



/* Hover p3 */

.website-container:has(.p3:hover) .p2 {
    transform: translateX(calc(var(--spacer-preview) * 1));
}

.p3:hover {
    transform: translateX(calc(var(--spacer-preview) * 2));
}

.p3:hover ~ .p4 {
    transform: translateX(calc(100vw - var(--spacer-preview) * 2));
}

.p3:hover ~ .p5 {
    transform: translateX(calc(100vw - var(--spacer-preview) * 1));
}

/* .p3:hover ~ .p6 {
    transform: translateX(calc(100vw - var(--spacer-preview) * 1));
} */


/* Hover p4 */

.website-container:has(.p4:hover) .p2 {
    transform: translateX(calc(var(--spacer-preview) * 1));
}

.website-container:has(.p4:hover) .p3 {
    transform: translateX(calc(var(--spacer-preview) * 2));
}

.p4:hover {
    transform: translateX(calc(var(--spacer-preview) * 3));
}

.p4:hover ~ .p5 {
    transform: translateX(calc(100vw - var(--spacer-preview) * 1));
}

/* .p4:hover ~ .p6 {
    transform: translateX(calc(100vw - var(--spacer-preview) * 1));
} */





/* Hover p5 */

.website-container:has(.p5:hover) .p2 {
    transform: translateX(calc(var(--spacer-preview) * 1));
}

.website-container:has(.p5:hover) .p3 {
    transform: translateX(calc(var(--spacer-preview) * 2));
}

.website-container:has(.p5:hover) .p4 {
    transform: translateX(calc(var(--spacer-preview) * 3));
}

.p5:hover {
    transform: translateX(calc(var(--spacer-preview) * 4));
}

/* .p5:hover ~ .p6 {
    transform: translateX(calc(100vw - var(--spacer-preview) * 1));
} */


/* Hover P6

.website-container:has(.p6:hover) .p2 {
    transform: translateX(calc(var(--spacer-preview) * 1));
}

.website-container:has(.p6:hover) .p3 {
    transform: translateX(calc(var(--spacer-preview) * 2));
}

.website-container:has(.p6:hover) .p4 {
    transform: translateX(calc(var(--spacer-preview) * 3));
}

.website-container:has(.p6:hover) .p5 {
    transform: translateX(calc(var(--spacer-preview) * 4));
}

.p6:hover {
    transform: translateX(calc(var(--spacer-preview) * 5));
} */





/* Iframes */

iframe{
    position: fixed;
    left:0; 
    top: 100vh; 
    width: 100vw; 
    height: calc(100vw - var(--spacer-iframe)); 

    display: none;
}


    /* Run JS to first remove display none, and after 100ms give it the class to come in on top */
    /* Disable the the display  */



